.footer {
    text-align: center;
    font-size: 0.85rem;
    color: #010409ff;
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb;
    padding: 20px;
}

.bottom {
    background-color: #111827;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px;
}

.bottom span {
    opacity: 0.85;
}